.review {
  padding-bottom: 50px;
  &__title {
    font-weight: 700;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #0D0D0D;
  }
  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 60px;
  }
  &__photo {
    width: 169px;
    height: 169px;
    border-radius: 100%;
  }
  &__client {
    margin-left: 60px;
    &_name {
      font-weight: 700;
      font-size: 18px;
      color: #0D0D0D;
    }
    &_subtitle {
      font-weight: 500;
      font-size: 14px;
      color: #646464;
    }
    &_descr {
      font-weight: 300;
      font-size: 16px;
      color: #0D0D0D;
    }
  }
}
